In [1]:
#importing dependencies
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
#importing diabetes from sklearn
from sklearn.datasets import load_diabetes

In [27]:
diabetes_dataset=pd.read_csv('/content/diabetes.csv')

In [28]:
print(diabetes_dataset)

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [ ]:
#importing our diabetes_dataset to pandas dataframe

In [29]:
diabetes_data=diabetes_dataset.drop(columns='Outcome',axis=1)

In [ ]:
# Number of rows and colums

In [30]:
diabetes_data.shape

(768, 8)

In [ ]:
#First five rows of our data

In [31]:
diabetes_data.head()

   Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0            6      148             72  ...  33.6                     0.627   50
1            1       85             66  ...  26.6                     0.351   31
2            8      183             64  ...  23.3                     0.672   32
3            1       89             66  ...  28.1                     0.167   21
4            0      137             40  ...  43.1                     2.288   33

[5 rows x 8 columns]

In [32]:
#All the statistical information about the Dataframe
diabetes_data.describe()

       Pregnancies     Glucose  ...  DiabetesPedigreeFunction         Age
count   768.000000  768.000000  ...                768.000000  768.000000
mean      3.845052  120.894531  ...                  0.471876   33.240885
std       3.369578   31.972618  ...                  0.331329   11.760232
min       0.000000    0.000000  ...                  0.078000   21.000000
25%       1.000000   99.000000  ...                  0.243750   24.000000
50%       3.000000  117.000000  ...                  0.372500   29.000000
75%       6.000000  140.250000  ...                  0.626250   41.000000
max      17.000000  199.000000  ...                  2.420000   81.000000

[8 rows x 8 columns]

In [ ]:
#mean of Non diabetic and diabetic patient on other columns

In [43]:
diabetes_dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [34]:
# standard deviation of our Data
print(diabetes_data.std())

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
dtype: float64

In [ ]:
#splitting the labels and Data

In [35]:
X=diabetes_data
Y=diabetes_dataset['Outcome']

In [36]:
print(X)
print(Y)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
#checking for non null values

In [37]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 48.1 KB

In [ ]:
#Counting number of data for Diabetic and Non diabetic

In [38]:
Y.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [21]:
# As X has no null values we are not required to perform missiing values

In [44]:

#data standardisation
scalar=StandardScaler()
scalar.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
#after fitting transforming is done

In [45]:
X_standard=scalar.transform(X)

In [49]:
print(X_standard)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [ ]:
#Now we can see that the standar deviation of Data is 1

In [46]:
print(X_standard.std())

1.0

In [50]:
X=X_standard

In [52]:
# Splitting the data into $ variable for our test and train part
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=1)

In [53]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

In [54]:
classifier=svm.SVC(kernel='linear')

In [55]:
classifier.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
#training data Accuracy score

In [56]:
train_data_predict=classifier.predict(X_train)

In [57]:
training_accuracy=accuracy_score(train_data_predict,Y_train)

In [58]:
print(training_accuracy)

0.7833876221498371

In [ ]:
#test data accuracy score

In [59]:
test_data_predict=classifier.predict(X_test)
testing_accuracy=accuracy_score(test_data_predict,Y_test)
print(testing_accuracy)

0.7792207792207793

In [ ]:
#model Evaluation

In [66]:
input_data=(8,183,64,0,0,23.3,0.672,32)
input_np_array=np.asarray(input_data)
input_reshaped=input_np_array.reshape(1,-1)
data=scalar.transform(input_reshaped)
prediction=classifier.predict(data)
if(prediction==0):
  print('NON diabetic')
else:
  print('Diabetic')

Diabetic